$button
  display block
  padding 10px
  cursor pointer
  color white
  border-radius radius
  border 0
  text-align center
  transition transition

// Prompt for outdated browsers
.browsehappy
  margin 0.2em 0
  background lightGrey
  color textColour
  padding 0.2em 0
