header
  background url("/impact/img/bg.jpg") top center no-repeat
  background-size cover
  padding 15px 0
  height 430px
  +below(mobile)
    height 300px
  img
    margin 0 auto
    display block
    width 90%
    max-width 350px
  nav
    margin 20px auto 0 auto
    text-align center
    li
      display inline-block
      margin 0 15px
      color white
      text-shadow 1px 1px 5px medBlack
      font-size scale1